body{
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    /* background-color: var(--c-gray-400); */
}

.NotFoundContPrin {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    transform: rotate(-3deg);
    transition: 0.15s ease-out;
    margin-bottom: 20px;
  }
  
  .card-inner {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--c-gray-900);
    border-radius: 20px;
    padding: 1rem;
    background-color: #fff;
    position: relative;
  }
  
  .card-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: darkcyan;
    border-radius: 15px;
    padding: 20px 50px;
    margin: 10px;
    text-align: center;
  }
  
  .card-pin {
    width: 12px;
    height: 12px;
    background-color: var(--c-gray-900);
    position: absolute;
    top: 20px;
    left: calc(50% - 6px);
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--c-gray-900);
  }
  
  .card-pin + .card-pin {
    bottom: 20px;
    top: auto;
  }
  
  .card-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .card-meta-number {
    color: var(--c-gray-500);
    font-size: 1rem;
    font-weight: 500;
  }

  .NotFoundContBack{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .NotFoundContSpan{
    border-radius: 10px;
    background-color: cadetblue;
    padding: 10px;
    border: 2px solid;
    top: 20px;
    position: relative;
  }