/* index.css */

.index-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: rgb(188, 188, 188);
  background-image: url('../img/background/2.png');
  background-size: cover;
}

.index-title {
  font-size: 2.5rem;
  color: #333;
}

.index-description {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.index-action {
  font-size: 1.2rem;
}

.index-link {
  color: #007bff;
  text-decoration: none;
}

.index-link:hover {
  text-decoration: underline;
}

.index-back {
  background-color: rgba(189, 187, 187, 0.397);
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .index-container {
    padding: 20px;
    background-image: url('../img/background/3.png');
  }
  
  .index-back {
  background-color: rgba(255, 255, 255, 0.718);
  max-width: 90%;
  }
}
