@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    font-family: 'Concert One', sans-serif;
}

h3{
    color: black;
}

img{
    width: 50px;
}

.Content{
    display: grid;
    grid-template-columns: 10% 90%;
    height: 100vh;
}

.landing{
    width: 100%;
    height: 100%;
    display: grid;
    grid-column: 2;
    grid-template-rows: 10% 90%;
    border-radius: 15px 0px 0px 15px;
    background: linear-gradient(180deg, rgb(199.86, 220.14, 229.5) 0%, rgb(181.51, 204.33, 217.81) 100%);
}

.watch{
    display: grid;
    grid-column: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.watch>a{
    padding-top: 20px;
}

.nav{
    grid-row: 1;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 10px 50px;
}

.list{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
    cursor: pointer;
}

li>a{
    margin: 5px;
    padding: 10px 25px 20px 25px;
    color: #ffffff;
    font-size: 20px;
}   

li>a:hover{
    color: #b5ccd9;
    background: white;  
    border-radius: 25px;
}

.Nav-logo{
    width: 10%;
}

.User-nav{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.User-nav>a>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.main{
    grid-row: 2;
    height: 90vh;
}

.main-left{
    width: 50%;
    float: left;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-right{
    float: right;
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoPng{
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoPng>img{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-text{
    font-size: 50px;
}
p {
    gap: 50px;
}
.title{
    font-size: 60px;
    gap: 20px;
}