/* app/layouts/content/style.module.css */

.ContentContainer {display: flex; justify-content: center; align-items: center; }
.ContentBanner {height: 100vh; width: 100%; max-width: 1000px; position: relative; }
.ContentBannerColor1 {width: 90%; height: 85%; background-color: #88f69a; border-radius: 25px 25px 100px; position: absolute; box-shadow: inset -2px 0px 10px 0px #fff}
.ContentBannerColor2 {width: 90%; height: 85%; background-color: #FFEE58; border-radius: 25px 25px 200px; position: absolute; box-shadow: 5px 5px 20px 0px #444;}
.ContentBannerColor3 {width: 90%; height: 85%; background-color: #FFB74D; border-radius: 25px 25px 400px; position: absolute; box-shadow: 5px 5px 20px 0px #444;}
.ContentBannerColor4 {width: 90%; height: 85%; background-color: #E57373; border-radius: 25px 25px 800px; position: absolute; box-shadow: 5px 5px 20px 0px #444;}
.contentTextIndex {display: flex; justify-content: space-between; align-items: center; margin: 25px; }
.ContentImageWrapper {position: relative; height: 80px; width: 80px; filter: drop-shadow(5px 5px 5px #0000008a);}
.ContentTextCont {display: flex; gap: 20px; }
.ContentTextSpan {cursor: pointer; font-size: 14px; }
.ContentTextSpan:hover {text-decoration: underline black 2px double; color: #fff; transition-duration: 0.4s;}
.ContentTextH1Welcome{display: flex; justify-content: center; text-align: center; cursor: default;}
.ContentDivName{ cursor: pointer; transition-duration: 0.2s;}
.ContentDivName:hover{color: #fff; text-decoration: underline black 2px double; transition-duration: 0.4s;}
.ContentSpan{display: flex; flex-direction: column; font-size: 16px; left: 10%; width: 90%; top: 10%; position: relative;}
.ButtonDowload{border: none; background: transparent; bottom: 5%; position: absolute; left: 10%; border-radius: 25px; background-color: burlywood; padding: 15px; cursor: pointer;}
.ContentImageSpan{display: grid; height: 50%; grid-template-columns: 50% 50%;}
.ContentClassImage{ display: flex; justify-content: center; align-items: center; width: 100%; filter: drop-shadow(5px 5px 5px #0000008a); }

/* responsive */

@media (max-width: 600px){ .contentTextIndex{ flex-direction: column; } .ContentSpan{ left: 5%; } .ContentDowload{ bottom: 10%; } .ContentImageWrapper{ display: none; transition-duration: 0.4s; } }
@media (max-width: 550px){ .ContentBannerColor3{ border-radius: 25px 25px 340px; } .ContentBannerColor2{ border-radius: 25px 25px 180px; } .ContentImageSpan{ display: grid; height: 60%; grid-template-columns: 100%; align-content: center; justify-content: center; align-items: center; gap: 20px; text-align: center;}}
@media (max-width: 450px){ .ContentBannerColor3{ border-radius: 25px 25px 240px; } .ContentBannerColor2{ border-radius: 25px 25px 180px; } .ContentImageSpan{ display: grid; height: 60%; grid-template-columns: 100%; align-content: center; justify-content: center; align-items: center; gap: 20px; text-align: center;}}