/* src/components/Login.css */

* {
  padding: 0px;
  margin: 0px;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: none;
}


.log-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row-reverse;
    height: 100vh;


    background: linear-gradient(300deg,#004c80,#003861,#ffd042,#d1b900,#fffef5);
    background-size: 300% 300%;
    animation: gradient-animation 30s ease infinite;
    
  
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

  .log-img {
    width: 70%;
    text-align: center;
    float: right;
  }
  
  .log-cod {
    border-radius: 0px 30px 30px 0px;
    float: left;
    width: 30%;
    padding: 20px;
    background: #004c80;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
  }
  
  .log-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 300px;
  }
  
  .log-cod form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"] {
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box; /* Añadido para incluir el padding en el tamaño total */
  }
  
  label {
    display: flex;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 16px;
  }
  
  .text-up {
    font-size: 24px;
  }
  
  .Text-Par {
    font-size: 16px;
  }
  
  .cont-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
  
  .card-img>img {
    width: 40px;
  }
  
  .Log-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 20px;
  }
  
  .check {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: relative;
    margin-top: 20px;
  }
  
  .check-button {
    top: 1px;
    position: relative;
  }
  
  a {
    text-decoration: none;
    color: #72c2e9;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .submit,
  button,
  input[type="submit"],
  input[type="text"],
  input[type="password"] {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .submit {
    background-color: #72c2e9;
    color: #fff;
    margin-top: 20px;
  }
  
  hr {
    margin: 20px 0;
  }
  
  button {
    background-color: #72c2e9;
    color: #fff;
    margin-top: 20px;
  }
  

  /* //////////////////////////////// */

  @media screen and (max-width: 768px) {
    
    .log-img{
      display: none;
    }

    .log-cod{
      height: 100%;
      width: 100%;
      border-radius: 0px 0px 0px 0px ;
    }
    
  }